<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Testcafe HTML Reports</title>
    <link rel="stylesheet" href="theme.css">
</head>

<body>
    <header>
        <h1>Test Results</h1>
        <div class="general-data-wrapper clearfix">
            <div class="general-data">
                <h2>User agent: {{general.user_agent}}</h2>
                <h2>Total tests: {{general.total_tests}}</h2>
                <h2>Total duration: {{general.total_duration}}</h2>
            </div>
            <div class="test-status">
                <h2 class="passed">Passed: {{general.passed}}</h2>
                <h2 class="failed">Failed: {{general.failed}}</h2>
                <h2 class="skipped">Skipped: {{general.skipped}}</h2>
            </div>
        </div>
    </header>
    <article class="fixtures">
        {{#each fixtures}}
        <div class="fixture hide-fixture {{#if passed}}passed{{/if}} {{#if failed}}failed{{/if}} {{#if skipped}}skipped{{/if}}">
            <button>{{name}}</button>
            {{#each tests}}
            <div class="test-container hide-test {{#if passed}}passed{{/if}} {{#if failed}}failed{{/if}} {{#if skipped}}skipped{{/if}}">
                <button class="test">{{name}} {{durationMs}}</button>
                {{#if errs.length}}
                <div class="details">
                    <div class="error-container">Err: {{errs.[0]}}</div>
                    <img src={{screenshotPath}} alt="error-screenshot">
                </div>
                {{/if}}
            </div>
            {{/each}}
        </div>
        {{/each}}
    </article>
    <script type="text/javascript" src="script.js"></script>
</body>

</html>